@layer theme, base, frosted_ui, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);
@import "@whop/react/styles.css" layer(frosted_ui);

/* biome-ignore lint/suspicious/noUnknownAtRules: this rule is imported from whop */
@config '../tailwind.config.ts';

body {
  min-height: 100vh;
  background-color: var(--background-default);
  color: var(--text-default);
  font-family: 'SF Pro Display', -apple-system, BlinkMacSystemFont, sans-serif;
}